<%-include('student_header')%>

  <!-- 2 -->
  <% if (messages.success) { %>
    <div class="alert alert-success"></div>

    
 <div class="bg-white h-100 flex-column w-100 d-flex align-items-center justify-content-center" style="position: fixed; top: 50%; left: 50%; z-index: 999999; transform: translate(-50%,-50%);" id="hideDiv">
  <div class="yas5" >
    <div class="All">
      <svg class="svgWrapper">
        <path d="M196.6,27.6C179.1,18.3,159.2,13,138,13C69,13,13,69,13,138s56,125,125,125s125-56,125-125 c0-8.5-0.9-16.8-2.5-24.9" class="circleGray"></path>
        <path d="M196.6,27.6C179.1,18.3,159.2,13,138,13C69,13,13,69,13,138s56,125,125,125s125-56,125-125 c0-8.5-0.9-16.8-2.5-24.9" class="circleLightBlue"></path>
        <path d="M196.6,27.6C179.1,18.3,159.2,13,138,13C69,13,13,69,13,138s56,125,125,125s125-56,125-125 c0-8.5-0.9-16.8-2.5-24.9" class="circleDarkBlue"></path>
        <polyline points="72.5,123.5 131.5,179.5 284.5,18.5" class="tick-gray"></polyline>
        <polyline points="72.5,123.5 131.5,179.5 284.5,18.5" class="tick-B"></polyline>
        <polyline points="72.5,123.5 131.5,179.5 284.5,18.5" class="tickC"></polyline>
      </svg>
    </div>
  </div>
  <h5 class="text-success fw-bold fs-4"><%= messages.success %></h5>
 </div>
  <% } %>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">



    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Morsy Multimedia and Education</h1> 
          <h2>more than expectation </h2>
          <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            
            
         
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img d-flex justify-content-center align-items-center">
          <img
            src="/images/308.jpg"
            style="height: 80% !important;" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4 class="title"><a href="">Technology</a></h4>
              <p class="description">Technology is the application of knowledge for achieving practical goals in a
                reproducible way</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Education</a></h4>
              <p class="description">Education is both the act of teaching knowledge to others and the act of receiving
                knowledge from someone else.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4 class="title"><a href="">Build Up</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section class="about mt-4">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="../assets/img/about.png" class="img-fluid">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate
              velit esse cillum dolore eu fugiat nulla .
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">100% Job Placement</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Experienced Faculty</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">live Projects</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Low Fees Structure</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Best Technology</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Best Infrastructure</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio p-0 mt-5">
      <div class="container">

        <div class="section-title">
          <span>course</span>
          <h2>course</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>


        <!-- Slider main container -->
        <div class="d-flex justify-content-center ">
          <div class="body ">
            <div class="swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="row display-1 h-100">
                    <div class=" picture p-0 position-relative m0 h-100">
                      <img
                        src="https://img.freepik.com/free-vector/gradient-ui-ux-background_23-2149065783.jpg?w=1380&t=st=1681275221~exp=1681275821~hmac=23401222d439679e0fc1a15969a562998745ffabd605f4028cfa992617d2b36d"
                        alt="">
                      <div class="content position-absolute">
                        <h2 class="text-center">App<br> Development</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row display-1 h-100">
                    <div class=" picture p-0 m0 h-100">
                      <img
                        src="https://img.freepik.com/free-vector/mobile-marketing-concept-illustration_114360-1497.jpg?w=826&t=st=1681275911~exp=1681276511~hmac=b30224aff6c2717eff50d10f58dcee7f1c04d999d0d05a58168f289a67abf7d6"
                        alt="">
                      <div class="content position-absolute">
                        <h2 class="text-center">Digital <br> Marketing</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row display-1 h-100">
                    <div class=" picture p-0 m0 h-100">
                      <img
                        src="https://img.freepik.com/free-vector/business-people-isometric-human-character-office-professional-working-home-with-smartphone-vector-illustration_1284-30143.jpg?w=900&t=st=1681275803~exp=1681276403~hmac=f59e5e72425f2978c998d8a7bd71b53250dd04c8942ab7a10c5eea99480b20cf"
                        alt="">
                      <div class="content position-absolute">
                        <h2 class="text-center">Web Design &<br>Development</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row display-1 h-100">
                    <div class=" picture p-0 m0 h-100">
                      <img
                        src="https://img.freepik.com/free-vector/gamer-top-view-illustration_1284-21861.jpg?w=826&t=st=1681276105~exp=1681276705~hmac=fe086314340d735e87c2db0d127c243759a46c6e66a167c37dd0d98f769c0fe0"
                        alt="">
                      <div class="content position-absolute">
                        <h2 class="text-center">Game Design &<br>Development</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row display-1 h-100">
                    <div class=" picture p-0 m0 h-100">
                      <img
                        src="https://img.freepik.com/free-vector/computer-animation-abstract-concept-illustration_335657-2142.jpg?w=826&t=st=1681276309~exp=1681276909~hmac=53b6098325afe0ccba5e4d61f55a59c2dff55852e89619f11e5440353a1d7d58"
                        alt="">
                      <div class="content position-absolute">
                        <h2 class="text-center">Animation</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row display-1 h-100">
                    <div class=" picture p-0 m0 h-100">
                      <img src="https://wallpaper.dog/large/20449397.jpg" alt="">
                      <div class="content position-absolute">
                        <h2 class="text-center">UI-UX & Graphics<br>Desigining</h2>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <span>Testimonials</span>
          <h2>Testimonials</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I am learning Flutter in MME. I am co-operating with my faculties. I am studying as well as helping
                  other students in their work and practice.I am very satisfied with my Experienced Faculties.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://morsymultimedia.com/wp-content/uploads/2023/02/Deep-150x150.jpg"
                  class="testimonial-img" alt="">
                <h3>Deep Kheni</h3>
                <h4>flutter development , student</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I am a C & C++ language learner in MME. I learned every topic in a single lecture and also helps me in
                  my Practicing time also. I am so much satisfied with Morsy Multimedia &b Education.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://morsymultimedia.com/wp-content/uploads/2023/02/dharmik-150x150.jpg"
                  class="testimonial-img" alt="">
                <h3>Dharmik Vora</h3>
                <h4>c,c++ , student</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Morsy Multimedia & Education is great Coding Learning classes in the Fastest Growing IT Sector. I like
                  the way of teaching by the Experts. I am so much Satisfied with their Good Teaching with nominal Fees
                  Structure.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://morsymultimedia.com/wp-content/uploads/2023/02/Priyal-150x150.jpg"
                  class="testimonial-img" alt="">
                <h3>Priyal Katrodiya</h3>
                <h4>IOS development , student</h4>
              </div>
            </div><!-- End testimonial item -->




          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
          <a class="cta-btn" href="tel:+7874942450">Call To Action</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img
                src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/sanjay-bhai-q3jcbnywfq9ftqvj8h3wf4cadmhr7es54qk8bdup40.jpg"
                alt="">
              <h4>Sanjay Goti</h4>
              <span>Chief Executive Officer</span>

              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img
                src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/avdhishbhai-q34hoys0e6zbn3s4fzeg6yhvhz0ydkpuaf2nlj4jog.jpg"
                alt="">
              <h4>Avdhish Kikani</h4>
              <span>Co-founder</span>

              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img
                src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/cirag-q34hqlzucr8dyje3u6zy21jwx8x2ui8xik68tyoqsg.jpg"
                alt="">
              <h4>Chirag Navadiya</h4>
              <span>Managing Director</span>

              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%-include('student_footer')%>
    <!-- Vendor JS Files -->
    <style>
      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffaf;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        background: #ffffff;
      }

      .body a {
        color: #fff;
      }

      .body .swiper-container {
        padding: 50px;

      }

      .body .swiper-slide {
        width: 400px;
        height: 400px;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(50, 50, 80, 1) 55%,
            rgba(50, 50, 93, 1) 100%);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        color: #fff;
      }

      .body .picture {
        position: relative;
        height: 200px;
      }

      .body .picture img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }

      .body .detail {
        padding: 16px;
        padding-left: 8px;
        position: relative;
        word-wrap: break-word;
        overflow: hidden;
      }

      .body h2 {

        font-weight: 800;

      }

      .body .detail h5 {
        color: #fff;
        font-size: 0.25em !important;
        margin-top: 25px;
        line-height: 1em !important;
      }

      .body .detail .card-date {
        position: absolute;
        top: 17px;
        right: 32px;
        font-size: 11px;
        color: #f3f4f4;
      }

      .body .detail .info {
        position: relative;
        font-size: 13px;
        color: #d8d8d8;
        padding-right: 50px;
      }

      .body .detail .i-share {
        position: absolute;
        bottom: -16px;
        left: 25px;
        fill: white;
        font-weight: 500;
      }

      .body .detail .i-like {
        cursor: pointer;

        position: absolute;
        bottom: -16px;
        right: 50px;
        fill: white;
        font-weight: 500;
      }

      .body .content {
        top: 0;
        left: 0;
        background-color: #00000087;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        opacity: 1;
        transition: 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .body .display-1:hover .content {
        /* scale: 1.1; */
        opacity: 1;
      }
    </style>
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <script>
      var swiper = new Swiper(".swiper-container", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        preventClicks: false,
        loop: true,
        preventClicksPropagation: false,
        coverflowEffect: {
          rotate: 20,
          stretch: 0,
          depth: 350,
          modifier: 1,
          slideShadows: true
        }
      });

      var success=document.getElementById('hideDiv')
      if(success){
        setTimeout(() => {
         location.reload()
        }, 2000);
      }

    </script>


</body>

</html>