<%-include('student_header')%>
    <main>
        <section>
            <div class="d-flex justify-content-center fw-bold"
                style="background-repeat: no-repeat;background-size: cover; background-image:url(https://morsymultimedia.com/wp-content/uploads/2023/03/WhatsApp-Image-2023-03-09-12.58.17.jpg)">
                <div class="w-100 h-100 d-flex justify-content-center" style="background-color: #0f51948d;">
                    <h2 class="text-white m-5 p-5 fs-1">Our Team</h2>
                </div>
            </div>
        </section>
        <section id="team" class="team section-bg">
            <div class="container">
      
              <div class="section-title">
                <span>Team</span>
                <h2>Team</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
              </div>
      
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img
                      src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/sanjay-bhai-q3jcbnywfq9ftqvj8h3wf4cadmhr7es54qk8bdup40.jpg"
                      alt="">
                    <h4>Sanjay Goti</h4>
                    <span>Chief Executive Officer</span>
      
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img
                      src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/avdhishbhai-q34hoys0e6zbn3s4fzeg6yhvhz0ydkpuaf2nlj4jog.jpg"
                      alt="">
                    <h4>Avdhish Kikani</h4>
                    <span>Co-founder</span>
      
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img
                      src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/cirag-q34hqlzucr8dyje3u6zy21jwx8x2ui8xik68tyoqsg.jpg"
                      alt="">
                    <h4>Chirag Navadiya</h4>
                    <span>Managing Director</span>
      
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
      
              </div>
      
            </div>
          </section><!-- End Team Section -->

    </main>
    <script src="../assets/js/main.js"></script>

    <%-include('student_footer')%>